# Strapi Configuration
HOST=0.0.0.0
PORT=1337

# These params should be same with your production strapi app on railway service if you connect same database from your local pc and your railway production strapi. Otherwise, some data could be conflict. (APP_KEYS, API_TOKEN_SALT, ADMIN_JWT_SECRET, TRANSFER_TOKEN_SALT, JWT_SECRET)
APP_KEYS="5tuj4upwf64j9bbe6f2ctbanjl8g9q9v==,2zi2mr0sf7kfc73l2lik7omvye43eu2y==,caa4igvlg814fibj7u0oemvdxnq16tm7==,ktd56jvfr26sjw4shh5ffspu9mdi36sx=="
API_TOKEN_SALT="qal19paku3vh18piiqjniejyk87y2shf=="
ADMIN_JWT_SECRET="18uz2wgf4dj8h9n4t7uww0vmx2o6s2xo=="
TRANSFER_TOKEN_SALT="ifqttgup8ym9cs53ifa7hkurjqb2a4z1=="
JWT_SECRET="hiiu5pgsxrijimaz5ajmh40fv7ug38ez"


# Database
# If you don't use 'railway run npm run develop' or 'railway run yarn run develop,' you must add your postgresql public URL to DATABASE_PRIVATE_URL to .env file. You can get postgresql DATABASE_PUBLIC_URL from Railway dashboard.
# DB Address example: postgresql://postgres:kSJalAMyVHDBYoIyORUofwVBxeleKMCK@postgres.railway.internal:5432/railway
DATABASE_PRIVATE_URL="postgresql://postgres:kSJalAMyVHDBYoIyORUofwVBxeleKMCK@switchback.proxy.rlwy.net:15341/railway"
DATABASE_CLIENT="postgres"


# ---- EXTRA -----

# If you don't use 'railway run npm run develop' or 'railway run yarn run develop,' you must also include these parameters to connect to the database to .env file.
DATABASE_HOST=tobemodified
DATABASE_NAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_PORT=tobemodified
DATABASE_USERNAME=tobemodified

# AWS Configuration
AWS_ACCESS_KEY_ID=tobemodified
AWS_ACCESS_SECRET=tobemodified
AWS_BUCKET_NAME=tobemodified
AWS_REGION=tobemodified

# Nodemailler (Smpt) Configuration
SMTP_HOST=tobemodified # If you dont give this param, default is smtp.gmail.com
SMTP_PORT=tobemodified # If you dont give this param, default is 587
SMTP_USERNAME=tobemodified
SMTP_PASSWORD=tobemodified



